.instructions {
  text-align: start;
  margin: clamp(calc(2 * var(--unit)), 5vh, calc(5 * var(--unit)))
    clamp(calc(2 * var(--unit)), 3vw, calc(5 * var(--unit)));
  color: #000;
}

.uploadForm {
  height: calc(100vh - 270px);
  min-height: 160px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  background: lightgrey;
  border: 4px dashed grey;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
}

.uploadButton {
  max-width: 200px;
  width: 200px;
  max-height: 100px;
  height: 100px;
  border-radius: 8px;
  outline: none;

  background: #0058ad;
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-shadow: -1px 1px 3px #333, -2px 1px 1px #111;
  margin: clamp(calc(2 * var(--unit)), 5vh, calc(5 * var(--unit)))
    clamp(calc(2 * var(--unit)), 3vw, calc(5 * var(--unit)));
}

.label__strong {
  font-weight: bold;
  color: black;
  /* font-size: 18px; */
}

.label__strong:hover {
  color: dimgray;
}

.upload__icon {
  margin: clamp(
    calc(2 * var(--unit)),
    calc(3 * var(--unit)),
    calc(4 * var(--unit))
  );
}

.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 8px solid whitesmoke;
  border-top: 8px solid dodgerblue;
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
