:root {
  --unit: 0.5rem;
}

.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  border: 2px solid darkblue;
  border-radius: 8px;
  background: lightblue;
}

button {
  /* max-width: 150px; */
  max-width: 200px;
  width: 200px;
  max-height: 100px;
  height: 100px;
  border-radius: 8px;
  outline: none;
  background: hsl(210, 100%, 45%);
  color: whitesmoke;
  font-weight: 700;
  font-size: 24px;
  text-shadow: -1px 1px 3px #333;

  margin: clamp(calc(2 * var(--unit)), 5vh, calc(5 * var(--unit)))
    clamp(calc(2 * var(--unit)), 3vw, calc(5 * var(--unit)));
}

button:hover {
  background: hsl(210, 100%, 60%);
  transition: all 0.2s;
}
